html, body {
  margin: 0;
  overflow: hidden;
}
body {
  font-family: 'Inconsolata', Monaco, Courier, monospace;
  color: #333;
}
section {
  padding: 2em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
h1 {
  font-family: 'Luckiest Guy', 'Helvetica Neue', Arial, sans-serif, cursive;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 1em 0;
}
h2 {
  color: #999;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: .12em;
}
h1, h2 {
  position: relative;
}
h2 > span {
  background-color: #ed3264;
  color: white;
  padding: 2px;
  font-size: 1.2em;
  /*font-weight: bold;*/
}
p {
  font-size: 1em;
  line-height: 2em;
  margin: 0;
  letter-spacing: 1px;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
a {
  text-transform: uppercase;
  color: #666666;
  text-decoration: none;
  transition: all .4s ease;
  padding: 1px;
}
a.disabled:hover {
  color: #b8b7b7;
  background-color: transparent;
}
a:hover {
  background-color: #ed3264;
  color: white;
}
.disabled {
  color: #999;
  font-style: italic;
  cursor: not-allowed;
}
footer {
  display: -webkit-flex;
  display: flex;
}
p.copy {
  padding-left: 84px;
}
.interlace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url(./images/interlace.png) top left repeat, rgba(255, 255, 255, .1);
  opacity: .333;
}
.rotate {
  display: inline-block;
  transform: rotate(66deg);
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  animation: roll 6s 1;
  -webkit-animation: roll 6s 1;
  -moz-animation: roll 6s 1;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(66deg);
  }
}
@-webkit-keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(66deg);
  }
}
@-moz-keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(66deg);
  }
}
.blink {
  animation: blink .2s infinite;
  -webkit-animation: blink .2s infinite;
  -moz-animation: blink .2s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*BROWSER CONFIG*/
@-ms-viewport {
  width: device-width;
}

::-moz-selection {
  background: #edda32;
}

::selection {
  background: #edda32;
}
