/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #CE0C3E;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.fugu .large-header {
	background-image: url('../img/overlay.png');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #232323;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.fugu .main-title {
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
	color: #fff;
}

@media only screen and (max-width : 768px) {
	.fugu .main-title {
		font-size: 3em;
	}
}
