

#slideshow-container{
	width: 960px;
	height: 200px;
	border: 5px solid #AABB22;
	overflow: hidden;
}
#slider {
	position: relative;
	z-index: 99;
	float: left;
}
#slider {
	width:960px;
	height: 200px;
}
#slider .slides_container {
	display:none;
}
#slider .slides_container {
	width: 960px;
}
#slider .slide {	
	width: 960px;
	background: none repeat scroll 0 0 transparent !important;
	float: left;
}
#slider iframe {
	float: left;
	margin: 0px;
	padding: 0px;
	z-index: 9;
}
#slider .pagination {
	list-style:none;
	z-index: 999;
	position: absolute;	
	background:rgba(170,187,34,.8);
	right: 0px;
	bottom: 0px;
	padding: 10px 15px;
	margin: 0px;
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
}
#slider .pagination li {
	float:left;
	list-style:none;
}
#slider .pagination li a {
	display:block;
	-webkit-transition-duration: 0s; 
	-moz-transition-duration: 0s; 
	-o-transition-duration: 0s; 
	float:left;
	overflow:hidden;
	margin: 3px;
	text-decoration: none;
	text-indent: -9999px;
	height: 11px;
	width: 11px;
	background: url(../images/bullet-slider-arrow.png) no-repeat 0 0 transparent;
}
#slider .pagination li a:hover, #slider .pagination li.current a {
	background: url(../images/bullet-slider-arrow.png) no-repeat 0 -11px transparent;
}
#slider .caption {
	z-index:500;
	position:absolute;
	top:0px;
	right:0px;
	background:#C9DA2B;
	background:rgba(201,218,43,1);
	color:#707070;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.55);
	max-width: 910px;
	-moz-border-radius-topright:2px; 
	-moz-border-radius-bottomright:2px;
	-webkit-border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-top-radius:2px;
	border-bottom-right-radius:2px;
}
#slider .caption p {
	font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding:20px;
	text-align: center;
	font-size: 22px;
	font-weight:bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #E61623;
}

