#slideshow-container{
	width: 960px;
	overflow: hidden;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}
#slider {
	position: relative;
	z-index: 99;
	float: left;
	width: 100%;
	
}
#slider {
	width:960px;
}
#slider .slides_container {
	display:none;
}
#slider .slides_container {
	width: 960px;
}
#slider .slide {	
	width: 960px;
	background: none repeat scroll 0 0 transparent !important;
	float: left;
}
#slider iframe {
	float: left;
	margin: 0px;
	padding: 0px;
	z-index: 9;
}
#slider .pagination {
	list-style:none;
	z-index: 999;
	position: absolute;
	background:#000;
	background:rgba(0,0,0,.5);
	left: 0;
	bottom: 35px;
	padding: 10px 15px;
	margin: 0px;
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
}
#slider .pagination li {
	float:left;
	list-style:none;
}
#slider .pagination li a {
	display:block;
	-webkit-transition-duration: 0s; 
	-moz-transition-duration: 0s; 
	-o-transition-duration: 0s; 
	float:left;
	overflow:hidden;
	margin: 3px;
	text-decoration: none;
	text-indent: -9999px;
	height: 11px;
	width: 11px;
	background: url(../images/bullet-slider-arrow.png) no-repeat 0 0 transparent;
}
#slider .pagination li a:hover, #slider .pagination li.current a {
	background: url(../images/bullet-slider-arrow.png) no-repeat 0 -11px transparent;
}
#slider .caption {
	z-index:500;
	position:absolute;
	bottom:72px;
	left:0;
	background:#FEEB43;
	background:rgba(254,235,67,0.7);
	color:#707070;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.55);
	max-width: 910px;
	-moz-border-radius-topright:2px; 
	-moz-border-radius-bottomright:2px;
	-webkit-border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-top-radius:2px;
	border-bottom-right-radius:2px;
}
#slider .caption p {
	padding:20px;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #000;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
#slideshow-container { width: 748px; }
#slider { width: 748px; height: auto; }
#slider .slides_container { width: 748px; }
#slider .slide { width: 748px; }
#slider .pagination { bottom: 15px; }
#slider .caption { bottom:52px; max-width: 748px; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
#slideshow-container { width: 420px; }
#slider { width: 420px; height: auto; }
#slider .slides_container { width: 420px; }
#slider .slide { width: 420px; }
#slider .pagination { bottom: 15px; }
#slider .caption { bottom:52px; max-width: 420px; }
#slider .caption p { font-size: 12px; padding:10px; }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
#slideshow-container { width: 300px; }
#slider { width: 300px; height: auto; }
#slider .slides_container { width: 300px; }
#slider .slide { width: 300px; }
#slider .pagination { bottom: 15px; }
#slider .caption { bottom:52px; max-width: 300px; }
#slider .caption p { font-size: 12px; padding:10px; }
}
